@import url('https://fonts.googleapis.com/css?family=Assistant:200,300,400|Play');

:root {
  --main: #f3f3f3;
  --gray: #888;
  --green: #3d9f81;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--main);
  font-family: 'Assistant', 'Arial', sans-serif;
}

h2 {
  font: 300 15px 'Play', sans-serif;
  text-transform: uppercase;
  color: var(--green);
  letter-spacing: 2px;
  margin-bottom: 20px;
}

/* Header */

.header-info, footer {
  display: flex;
  justify-content: space-between;
  padding: 70px 50px;
  align-items: center;
}

header h1 {
  font: 400 24px 'Play', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.links {
  font: 200 18px 'Assistant', sans-serif;
  margin: 20px;
  color: var(--gray);
  text-decoration: none;
  padding: 0 5px 5px;
}

header a:hover, footer a:hover {
  border-bottom: 1px solid var(--gray);
}

.about {
  height: 500px;
  margin: 0 auto;
  background: url('../img/header.jpg') center;
  background-size: cover;
}

.about-cover {
  background: rgba(80, 40, 23, .4);
  width: 100%;
  height: 100%;
}

.sections {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 10px;
}

.about p {
  max-width: 700px;
  font: 400 24px 'Assistant', sans-serif;
  text-shadow: 2px 2px 30px #000;
  line-height: 50px;
  letter-spacing: 1px;
  color: var(--main);
}

.projects-view {
  display: flex;
  flex-wrap: wrap;
}

.project {
  width: 50%;
  height: 400px;
  filter: grayscale(50%);
  transition: filter 700ms;
}

.project:hover {
  filter: none;
}

.project:nth-of-type(1) {
  background: url('../img/spider-solitaire.png') center;
  background-size: cover;
}

.project:nth-of-type(2) {
  background: url('../img/study-sheets.png') center;
  background-size: cover;
}

.project:nth-of-type(3) {
  background: url('../img/natured.jpeg') center;
  background-size: cover;
}

.project:nth-of-type(4) {
  background: url('../img/planahead.jpg') center;
  background-size: cover;
}

.cover {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 700ms;
  color: white;
  padding: 80px 0;
}

.project-info {
  width: 450px;
  margin: 0px auto;
  padding: 0 10px;
}

.project-info h3 {
  font-weight: 100;
  letter-spacing: 1px;
  font-size: 22px;
  margin: 0 0 25px 0;
}

.project-info p {
  margin: 0 0 20px 0;
}

.project-info a {
  display: inline-block;
  color: rgb(137, 137, 137);
  background: #fff;
  text-decoration: none;
  padding: 5px 20px;
  margin: 0 20px 0 0;
  border-radius: 12px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
}

.project:hover .cover {
  opacity: 1;
}

footer {
  padding: 80px 40px 20px;
  font-weight: 100;
}
