@import url('https://fonts.googleapis.com/css?family=Assistant:200,300,400|Gruppo');

:root {
  --light: #d6d6d6;
  --light-green: #edf0e5;
  --mild-green: #dddfcd;
  --gray: #888;
  --green: #3d9f81;
  --dark-green: #a9bfaf;
  --dark: #181818;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  font: 400 16px 'Assistant', 'Arial', sans-serif;
}

section {
  padding: 60px 0 10px;
}

/* Header Section */

header {
  background: url('../img/header.jpg') top center fixed;
  background-size: cover;
  height: 600px;
}

.header-nav, footer {
  display: flex;
  justify-content: space-between;
  padding: 30px 50px 40px;
  align-items: center;
}

.header-nav {
  opacity: 0;
  animation: fadeIn 300ms 500ms 1 forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.header-cover {
  width: 100%;
  height: 100%;
  background: rgba(34, 34, 34, 0.3) fixed;
}

.logo {
  width: 50px;
  height: 50px;
  font: 400 20px 'Assistant', sans-serif;
  color: var(--gray);
  border: 2px solid var(--gray);
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
}

.links {
  font: 200 18px 'Assistant', sans-serif;
  margin: 20px;
  color: var(--gray);
  text-decoration: none;
  padding: 0 5px 5px;
}

header a:hover, footer a:hover {
  border-bottom: 1px solid var(--gray);
}

@media screen and (max-width: 508px) {
  .header-nav {
    flex-direction: column;
  }

  .logo {
    margin-bottom: 10px;
  }

  .header-nav .links {
    font: 200 16px 'Assistant', sans-serif;
    margin: 20px 5px;
  }
}

/* Banner */

.banner {
  padding: 90px 20px;
  text-align: center;
  transform: translateY(200px);
  animation: slideUp 500ms 1 forwards;
}

@keyframes slideUp {
  to {
    transform: none;
  }
}

.banner h1 {
  font: 400 64px 'Gruppo', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--gray);
  margin-bottom: 20px;
}

.banner p {
  font: 400 25px 'Assistant', sans-serif;
  color: #f7f7f7;
}

@media screen and (max-width: 508px) {
  .banner h1 {
    font: 400 44px 'Gruppo', sans-serif;
  }

  .banner p {
    font: 400 21px 'Assistant', sans-serif;
  }
}

/* About Info Section */

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--dark);
  padding: 60px 40px;
  color: #7f7f7f;
}

.about-info {
  flex-basis: 500px;
  padding: 0 50px 0 0;
}

.about-info p {
  font: 400 18px 'Assistant', sans-serif;
  line-height: 30px;
  letter-spacing: 1px;
  margin:  0;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (max-width: 1200px) {
  .about {
    display: block;
  }

  .about-info {
    display: flex;
    padding: 0;
  }

  .about-info p {
    flex-basis: 46%;
    margin: 2% 2% 50px;
  }
}

@media screen and (max-width: 840px) {
  .about-info {
    display: block;
  }
}

@media screen and (max-width: 504px) {
  .about {
    padding: 60px 20px;
  }
}

/* Skills Section */

.skills {
  flex-basis: calc(100% - 500px);
}

.skills-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-top: 1px solid var(--light);
  border-left: 1px solid var(--light);
}

.skill {
  width: 25%;
  text-align: center;
  padding: 20px;
  border-right: 1px solid var(--light);
  border-bottom: 1px solid var(--light);
  transition: background 400ms;
}

.skill-img {
  width: 100%;
  height: 120px;
  padding: 20px 0;
}

.skill img {
  display: block;
  margin: 0 auto;
  max-width: 80%;
  max-height: 100%;
  filter: grayscale(100%);
  transition: filter 300ms, transform 400ms;
}

.skill p {
  height: 50px;
}

.skill:hover {
  background: #fff;
}

.skill:hover img {
  filter: none;
  transform: scale(1.2);
}

@media screen and (max-width: 716px) {
  .skill {
    width: 33%;
  }
}

@media screen and (max-width: 528px) {
  .skill {
    width: 50%;
  }
}

/* Projects Section */

.projects {
  padding: 60px 40px 20px;
  background: #fff;
}

@media screen and (max-width: 504px) {
  .projects {
    padding: 60px 10px 20px;
  }
}

.projects-blurb {
  text-align: center;
  font: 400 20px 'Assistant', sans-serif;
}

.projects-view {
  display: flex;
  flex-wrap: wrap;
  margin: 50px 0 20px;
}

.project {
  width: 30%;
  height: 400px;
  margin: 1.66%;
  filter: grayscale(50%);
  transition: filter 700ms;
}

@media screen and (max-width: 1700px) {
  .project {
    width: 48%;
    margin: 1%;
  }
}

@media screen and (max-width: 988px) {
  .project {
    width: 100%;
  }
}

.project:nth-of-type(1) {
  background: var(--gray) url('../img/spider-solitaire.png') center no-repeat;
  background-size: contain;
  filter: grayscale(100%);
}

.project:nth-of-type(2) {
  background: url('../img/study-sheets.png') center;
  background-size: cover;
}

.project:nth-of-type(3) {
  background: url('../img/natured.jpeg') center;
  background-size: cover;
}

.project:nth-of-type(4) {
  background: url('../img/planahead.jpg') center;
  background-size: cover;
}

.project:hover {
  filter: none;
}

.project::after {
  content: "";
  display: block;
}

.cover {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 700ms;
  color: white;
  padding: 60px 0;
}

@media screen and (max-width: 512px) {
  .cover {
    padding: 40px 15px;
  }
}

@media screen and (max-width: 416px) {
  .cover {
    padding: 20px 15px;
  }
}

@media screen and (max-width: 348px) {
  .cover {
    padding: 10px 8px;
  }
}

.project-info {
  max-width: 450px;
  margin: 0px auto;
  padding: 0 30px;
}

.project-info h3 {
  font-weight: 100;
  letter-spacing: 1px;
  font-size: 22px;
  margin: 0 0 25px 0;
}

.project-info p {
  margin: 0 0 20px 0;
}

.project-info a {
  display: inline-block;
  color: rgb(137, 137, 137);
  background: #fff;
  text-decoration: none;
  padding: 5px 20px;
  margin: 0 20px 0 0;
  border-radius: 12px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
}

.project:hover .cover {
  opacity: 1;
}

/* Contact Section */

.contact {
  text-align: center;
  padding: 60px 40px;
  background: var(--dark);
  color: var(--light);
}

.contact-info {
  max-width: 500px;
  margin: 0 auto;
}

.contact h3 {
  text-transform: uppercase;
  font: 200 30px 'Assistant', sans-serif;
  margin-bottom: 20px;
}

.contact p {
  font: 300 20px 'Assistant', sans-serif;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.email {
  color: var(--dark-green);
  font: 300 22px 'Assistant', sans-serif;
  padding: 30px 5px;
}

.down {
  color: var(--dark-green);
  animation: down 800ms infinite;
}

@keyframes down {
  0% {
    transform: translateY(40px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(40px);
  }
}

/* Footer Section */

footer {
  padding: 70px 40px 20px;
  font-weight: 100;
  background: var(--dark);
}

@media screen and (max-width: 508px) {
  footer {
    flex-direction: column;
  }

  footer p.links {
    order: 1;
  }

  footer .links {
    font: 200 18px 'Assistant', sans-serif;
    margin: 20px 5px;
  }
}
