* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 550px;
  background: url('../img/header.jpg') no-repeat center;
  background-size: cover;
  text-align: center;
}

header > div {
  width: inherit;
  height: inherit;
  background: rgba(0, 118, 52, 0.5);
  padding-top: 210px;
  position: relative;
  color: rgb(44, 44, 44);
  color: #fff;
}

header h1 {
  font-size: 60px;
  text-transform: uppercase;
  font-family: cursive;
}

header p {
  font-size: 25px;
}

.logo {
  width: 70px;
  height: 70px;
  margin: 10px auto;
  border-radius: 50%;
  background: rgb(34, 34, 34);
  font-family: serif;
  position: relative;
}

.logo span {
  position: absolute;
  font-size: 30px;
}

.logo span:nth-of-type(1) {
  top: 15px;
  left: 18px;
}

.logo span:nth-of-type(2) {
  bottom: 8px;
  right: 18px;
}

.photo-credit {
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 4px 6px;
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.2;
  display: inline-block;
  border-radius: 3px;
}

.photo-credit span {
  display: inline-block;
  padding: 2px 3px;
}

.photo-credit svg {
  height: 12px;
  width: auto;
  position: relative;
  vertical-align: middle;
  top: -1px;
  fill: white;
}

