* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*:focus {
	outline: rgb(13,126,185) dotted 2px;
}

body {
	background-color: whitesmoke;
	font-family: Arial;
	font-size: 1em;
	line-height: 1.8em;
}

#container {
	width: 290px;
	margin: 0 auto;
}

#header {
	position: relative;
}

#header-image {
	background: url("../img/locomotive.png") top left no-repeat;
	background-size: 290px 244px;
	width: 290px;
	height: 244px;
	margin: 20px auto;
}

#header-p, .f_info {
	width: 90%;
}

#header-p {
	margin: 0 auto;
}

.font-color {
	color: rgb(13,152,186);
	font-weight: bold;
}

.italics {
	font-style: italic;
}

.bold {
	font-weight: bold;
}

.fun_fact {
	color: silver;
	text-transform: uppercase;
	font-weight: bold;
}

.f_info p {
	margin-bottom: 15px;
}

br {
	line-height: 3;
}

#wrapper {
	position: relative;
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}

.clear {
	clear: both;
}

.left_bird {	
	background: url("../img/left_bird.png") no-repeat;
}

.right_bird {
	background: url("../img/right_bird.png") no-repeat;
	float: right;
}

.bird {
	width: 240px;
	height: 197px;
	background-size: 240px 197px;
}

.boxes {
	padding: 80px 0;
	margin: 150px auto;
	position: relative;
}

.coal {
	width: 260px;
	height: 220px;
	background: url("../img/coal.png") no-repeat center;
	background-size: 260px 220px;
	margin: 0 auto;

}

footer {
	background-color: black;
	padding: 100px 0;	
}

#footer {
	width: 240px;
	margin: 0 auto;
}

#footer h1 {
	font-size: 1.1em;
	color: white;
	margin-bottom: 50px;
}

#footer a {
	color: rgb(13,126,185);
	font-weight: bold;
	font-size: 0.9em;
	text-decoration :none;
}

#footer a:hover {
	text-decoration: underline;
}

@media screen and (min-width: 482px) {
	#container {
		width: 420px;
	}

	#header-image {
		background-size: 400px 337px;
		width: 400px;
		height: 337px;
	}

	#footer {
		width: 300px;
	}
}

@media screen and (min-width: 732px) {
	#container {
		width: 650px;
	}

	#header-image {
		background-size: 475px 400px;
		width: 475px;
		height: 400px;
	}

	#header-p, .f_info {
		width: 70%;
	}

	.bird {
		width: 366px;
		height: 300px;
		background-size: 366px 300px;
	}

	.coal {
		width: 473px;
		height: 400px;
		background-size: 473px 400px;

	}

	#footer {
		width: 530px;
	}

	#footer .pj {
		width: 50%;
		float: left;		
	}
	
}

@media screen and (min-width: 983px) {
	#container {
		width: 900px;
	}

	#header-image {
		margin: 0;
	}

	#header-p, .f_info {
		width: 34%;
		position: absolute;
	}

	#header-p {
		top: 45px;
		left: 540px;
	}

	.f_info {
		z-index: 2;
	}

	#footer {
		width: 700px;
	}

	#footer .pj {
		width: 33%;
	}
}

@media screen and (min-width: 1283px) {
	#container {
		width: 1200px;
	}

	#header-image {
		background-size: 650px 610px;
		width: 650px;
		height: 610px;
	}

	#header-p, .f_info {
		width: 29%;
	}

	#header-p {
		top: 140px;
		left: 750px;
	}

	.boxes {
		margin: 200px auto;
	}

	#footer {
		width: 900px;
	}
}

/* Sidebar section */

#sidenavigation {
	padding-bottom: 35px;
	color: white;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 5;
	background-color: transparent;	
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

.sc {
	font-size: 1.5em;
}

#sidescroll {
	color: white;
	background-color: rgba(13,152,186,0.3);
	font-size: 0.8em;
	font-weight: bold;
	width: 25px;
	text-align: center;
	cursor: pointer;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border: 1px solid rgba(255,255,255,0.1);
}

#sidebar {
	margin-top: 35px;
	margin-right: 11px;
	width: 165px;
	position: relative;
	display: none;
}

.sideline {
	width: 0;
	margin-left: 25px;
	height: 50px;
	border: 1px solid white;
}

.short {
	height: 25px;
}

.sidebullet {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: 1px solid white;
	background-color: white;
	margin-left: 21px;
}

#navigate {
	position: absolute;
	top: 16px;
	right: 0;
	width: 130px;
	font-size: 0.9em;
	text-align: center;
}

#navigate button {
	background-color: transparent;
	color: white;
	border: none;
	margin-bottom: 41px;
	font-size: 1em;
	cursor: pointer;
}

#navigate a {
	display: block;
	color: white;
	text-decoration: none;
	margin-bottom: 32px;
	cursor: pointer;
}

.gray {
	color: gray;
}

@media screen and (min-width: 529px) {
	#sidescroll {
		width: 32px;
	}
}

/* End of sidebar section */

/* Stopwatch section */

#myAudio {
	display:none;
}

#st_info {
	margin: 0 auto;
}

#st_fact {
	margin: 0 auto;
}

#sct_container {
	width: 270px;
	height: 883px;
	margin: 50px auto;
	background: url("../img/stc_mini.png") center no-repeat;
	background-size: 270px 883px;
	position: relative;
	z-index: 1;
}

.functions button {
	cursor: pointer;
	font-size: 0.5em;
	width: 42px;
	padding: 5px 0;
	border: 1px solid silver;
	border-radius: 5px;
	background-color: black;
	color: white;
	font-weight: bold;
	text-align: center;
}

.functions button:hover {
	background-color: white;
	color: black;
}

.functions button:active {
	background-color: white;
	color: black;
}

.functions {
	width: 141px;
	margin: auto;
}

#stopwatch_container, #timer_container, #clock_container {
	width: 149px;
	position: absolute;
	font-size: 1.4em;
}

#stopwatch_display, #timer_display, #clock_display {
	text-align: center;
	margin-bottom: 15px;
	font-weight: 600;
}

#clock_container {
	top: 121px;
	left: 61px;
}

#stopwatch_container {
	bottom: 108px;
	left: 63px;
}

#timer_container {
	bottom: 413px;
	left: 63px;
}

.window {
	display: inline-block;
}

.scrollbar {
	width: 40px;
	height: 110px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: white;
	color: black;
	overflow-y: scroll;
	font-size: 0.8em;
	text-align: center;
	position: absolute;
	font-weight: 600;
	top:25px;
}

.scrollbar::-webkit-scrollbar {
	width: 6px;
	background-color: silver;
}

.scrollbar::-webkit-scrollbar-thumb {
	background-color: black;
}

.scrollbar p {
	cursor: pointer;
}

#timer_hours {
	left: 9px;
}

#timer_minutes {
	left: 54px;
}

#timer_seconds {
	left: 100px;
}

.window_button {
	cursor: pointer;
}

@media screen and (min-width: 732px) {
	#st_info {
		margin: 0 30px 0 auto;
	}

	#st_fact {
		margin: 0 0 0 40px;
	}

	#sct_container {
		width: 600px;
		height: 547px;
		margin: 50px auto;
		background: url("../img/stc.png") center no-repeat;
		background-size: 600px 547px;
		position: relative;
		z-index: 1;
	}

	#clock_container {
		top: 135px;
		left: 226px;
	}

	#stopwatch_container {
		bottom: 101px;
		left: 380px;
	}

	#timer_container {
		bottom: 101px;
		left: 73px;
	}
}


@media screen and (min-width: 983px) {
	#st_info {
		left: 130px;
		margin: 0;
	}

	#st_fact {
		top: 400px;
		left: 10px;
		margin: 0;
	}

	#sct_container {
		margin: 70px 0 0 35%;
	}
}


@media screen and (min-width: 1283px) {
	#st_info {
		left: 250px;
	}

	#st_fact {
		top: 400px;
		left: 40px;
	}

	#sct_container {
		width: 700px;
		height: 638px;
		margin:0 0 0 40%;
		background-size: 700px 638px;
	}

	#stopwatch_container, #timer_container, #clock_container {
		width: 179px;
	}

	#clock_container {
		top: 158px;
		left: 261px;
	}

	#stopwatch_container {
		bottom: 125px;
		left: 439px;
	}

	#timer_container {
		bottom: 125px;
		left: 81px;
	}

	.functions button {
		cursor: pointer;
		width: 46px;
		font-size: 0.6em;
	}

	.functions {
		width: 152px;
	}

	#timer_hours {
		left: 25px;
	}

	#timer_minutes {
		left: 70px;
	}

	#timer_seconds {
		left: 114px;
	}
}

/* End of stopwatch section */

/* Calculator section */

#inputSection, #answerSection {
	background-color:transparent;
	position:absolute;
	overflow:hidden;
	border:none;
	resize: none;
	font-size:1.5em;
}

#calculate_container {
	width: 280px;
	height: 350px;
	background: url("../img/mirror_400x500.png") no-repeat center;
	background-size: 100%;
	margin: 50px auto;
	position: relative;	
}

#calculator_info {
	margin: 0 auto;
}

#calc_fact {
	margin: 0 auto;
}

#calculate textarea:focus {
	outline: none;
}

#inputSection {
	width: 192px;
	height: 45px;
	text-align: right;
	top: 169px;
	left: 45px;
}

#answerSection {
	width:160px;
	height:36px;
	top:117px;
	left:59px;
	text-align: center;
	outline: none;
}

/* Calculator section - Buttons*/

.buttons {
	background-color:gray;
	color:pink;
	height:24px;
	width:36px;
	position:absolute;
	font-size:1.1em;
	font-weight: bold;
}

.column1 {
	left:46px;
}

.column2 {
	left:84px;
}

.column3 {
	left:122px;
}

.column4 {
	left:160px;	
}

.column5 {
	left:198px;
}

.row1 {
	top:214px;
}

.row2 {
	top:240px;
}

.row3 {
	top:266px;
}

.row4 {
	top:292px;	
}

@media screen and (min-width: 482px) {
	#inputSection, #answerSection {
		font-size:1.8em;
	}

	#calculate_container {
		width: 400px;
		height: 500px;
	}

	#inputSection {
		width: 271px;
		height: 53px;
		top: 245px;
		left: 65px;
	}

	#answerSection {
		width:225px;
		height:36px;
		top:166px;
		left:86px;
	}

	.buttons {
		height:35px;
		width:52px;
		font-size:1.4em;
	}

	.column1 {
		left:68px;
	}

	.column2 {
		left:122px;
	}

	.column3 {
		left:176px;
	}

	.column4 {
		left:230px;	
	}

	.column5 {
		left:284px;
	}

	.row1 {
		top:300px;
	}

	.row2 {
		top:338px;
	}

	.row3 {
		top:376px;
	}

	.row4 {
		top:414px;	
	}

}


@media screen and (min-width: 732px) {
	#calculator_info {
		margin: 0 0 0 40px;
	}

	#calc_fact {
		margin: 0 30px 0 auto;
	}
}

@media screen and (min-width: 983px) {
	#calculate_container {
		margin: 15px 0 0 30px;
	}

	#calculator_info {
		top: 0px;
		left: 485px;
		margin: 0;
	}

	#calc_fact {
		width: 35%;
		top: 280px;
		left: 535px;
		margin: 0;
	}
}

@media screen and (min-width: 1283px) {
	#calculate_container {
		margin: 2px 0 0 150px;
	}

	#calculator_info {
		left: 630px;
	}

	#calc_fact {
		width: 34%;
		left: 730px;
	}
}

/* End of calculator section */

/* Time Reaction TV section */

#reaction_container {
	margin: 50px auto;
	width: 285px;
	height: 330px;
	background: url("../img/tv.png") no-repeat center;
	background-size: 285px 330px;
	position: relative;
}

#reaction_info {
	margin: 0 auto;
}

#reaction_fact {
	margin: 0 auto;
}

#tv_screen {
	background-color: black;
	width: 260px;
	height: 228px;
	overflow: hidden;
	position: absolute;
	top: 28px;	
	left: 12px;
}

#box {
	height:25px;
	width:25px;
	background-color:red;
	display:none;
	position:relative;
}

#time_set {
	position: absolute;
	top: 0px;
	left: 12px;
	color: white;
	font-size: 0.9em;	
}

#reaction_container button {
	position: absolute;
	bottom: 54px;
	right: 15px;
	border: none;
	background-color: transparent;
	background: url("../img/power.png") center no-repeat;
	background-size: 15px 15px;
	width: 15px;
	height: 15px;
	cursor: pointer;
}

@media screen and (min-width: 482px) {
	#reaction_container {
		width: 400px;
		height: 326px;
		background-size: 400px 326px;
	}

	#tv_screen {
		width: 369px;
		height: 223px;
		top: 28px;	
		left: 15px;
	}

	#time_set {
		left: 15px;	
	}

	#reaction_container button {
		bottom: 55px;
		right: 17px;
	}

	#box {
		width: 35px;
		height: 35px;
	}
}


@media screen and (min-width: 732px) {
	#reaction_container {
		width: 560px;
		height: 373px;
		background-size: 560px 373px;
	}

	#reaction_info {
		margin: 0 30px 0 auto;
	}

	#reaction_fact {
		margin: 0 0 0 40px;
	}

	#tv_screen {
		width: 518px;
		height: 260px;
		top: 30px;	
		left: 20px;
	}

	#time_set {
		font-size: 1em;
		left: 20px;	
	}

	#reaction_container button {
		bottom: 63px;
		right: 25px;
	}

	#box {
		height:50px;
		width:50px;
	}
}

@media screen and (min-width: 983px) {
	#reaction_container {
		margin: 0;
	}

	#reaction_info {
		width: 32%;
		top: 0px;
		right: 5px;
		margin: 0;
	}

	#reaction_fact {
		width: 35%;
		top: 360px;
		right: 12px;
		margin: 0;
	}
}


@media screen and (min-width: 1283px) {
	#reaction_container {
		margin: 0 0 0 30px;
		width: 650px;
		height: 433px;
		background-size: 650px 433px;
	}

	#reaction_info {
		top: 50px;
		right: 35px;
	}

	#reaction_fact {
		width: 32%;
		top: 320px;
		right: 70px;
	}

	#tv_screen {
		width: 600px;
		height: 304px;
		left: 25px;
	}

	#time_set {
		left: 25px;
	}

	#reaction_container button {
		bottom: 75px;
		right: 30px;
		background-size: 17px 17px;
		width: 17px;
		height: 17px;
	}
}

/* End of time reaction tv section */

/* Tic Tac Toe section */

#tic_tac_toe_section {
	width: 285px;
	height: 430px;
	background: white url("../img/frame.png") no-repeat center;
	background-size: 285px 430px;
	margin: 50px auto;
	position: relative;
}

#ttt_info {
	margin: 0 auto;
}

#ttt_fact {
	margin: 0 auto;
}

#ttt_board {
	position: relative;
}

#ttt_board table {
	position: absolute;
	top: 141px;
	right: 18px;
	width: 249px;
	height: 249px;
	border-collapse: collapse;
	margin: auto;
	background-color: transparent;
	z-index: 2;
	border-top: 5px solid rgb(218,218,218);
	color: darkorchid;
}

#ttt_board td {
	height: 32%;
	width: 32%;
	font-weight: bold;
	font-size: 3em;
	text-align: center;
}

#ttt_board .borderBottom {
	border-bottom: 5px solid rgb(216, 216, 216);
}

#ttt_board .borderRight {
	border-right: 5px solid rgb(216, 216, 216);
}

#info, #result, #newGame {
	position: absolute;
	width: 120px;
}

#info {
	font-size: 0.7em;
	top: 40px;
	left: 19px;
}

#info p, #result p {
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}

#symbol {
	width: 79px;
	margin: 15px auto 0;
}

#info button {
	color: darkorchid;
	padding: 5px 10px;
	font-size: 1.2em;
	font-weight:500;
	border: 2px solid darkorchid;
	border-radius: 5px;
}

#info button:hover {
	background-color: rgb(216,216,216);
}

#result {
	font-size: 0.9em;
	top: 90px;
	left: 147px;
}

#newGame {
	top: 42px;
	left: 147px;
}

#playAgain {
	display: none;
	width: 100px;
	margin: 5px auto;
	padding: 3px 10px;
	font-weight: bold;
	font-size: 0.7em;
	border: 2px solid darkorchid;
	color: darkorchid;
	background-color: white;
	border-radius: 5px;
}

#playAgain:hover {
	background-color: rgba(194,194,194,0.5);
}

#x {
	background-color: rgb(216,216,216);
}

#o {
	background-color: white;
}

#board_lines {
	position: absolute;
	top: 147px;
	right: 20px;
	width: 246px;
	height: 242px;
}

.ttt_lines {
	display: none;
	position: absolute;
	z-index: 3;
}

.diagonal {
	top: 0;
	width: 246px;
	height: 242px;
}

#f_diagonal {
	left: 0;
	background: transparent url("../img/fslash.png") no-repeat center;
	background-size: 100%;
}

#b_diagonal {
	right: 0;
	background: transparent url("../img/bslash.png") no-repeat center;
	background-size: 100%;
}

.horizontal {
	width: 246px;
	height: 82px;
	left: 0;
	background: transparent url("../img/line.png") no-repeat center;
	background-size: 100%;
}

#h_line0 {
	top: -9px;
}

#h_line1 {
	top: 73px;
}

#h_line2 {
	top: 157px;
}

.vertical {
	width: 80px;
	height: 242px;
	top: 0;
	background: transparent url("../img/vertical.png") no-repeat center;
	background-size: 100%;
}

#v_line0 {
	left: 0;
}

#v_line1 {
	left: 84px;
}

#v_line2 {
	left: 168px;
}

@media screen and (min-width: 482px) {
	#tic_tac_toe_section {
		width: 400px;
		height: 559px;
		background-size: 400px 559px;
	}

	#ttt_board table {
		top: 159px;
		right: 26px;
		width: 348px;
		height: 348px;
	}

	#info, #result, #newGame {
		width: 158px;
	}

	#info {
		font-size: 0.9em;
		top: 55px;
		left: 30px;
	}

	#result {
		font-size: 1.1em;
		top: 120px;
		left: 203px;
	}

	#newGame {
		top: 60px;
		left: 203px;
	}

	#symbol {
		margin: 30px auto 0;
	}

	#playAgain {
		margin: 10px auto;
	}

	#board_lines {
		top: 165px;
		right: 28px;
		width: 345px;
		height: 341px;
	}

	.diagonal {
		width: 345px;
		height: 341px;
	}

	.horizontal {
		width: 345px;
		height: 115px;
	}

	#h_line1 {
		top: 106px;
	}

	#h_line2 {
		top: 223px;
	}

	.vertical {
		width: 113px;
		height: 340px;
	}

	#v_line1 {
		left: 117px;
	}

	#v_line2 {
		left: 235px;
	}
}

@media screen and (min-width: 732px) {
	#tic_tac_toe_section {
		width: 550px;
		height: 393px;
		background-size: 550px 393px;
	}

	#ttt_info {
		margin: 0 0 0 40px;
	}

	#ttt_fact {
		margin: 0 30px 0 auto;
	}

	#ttt_board table {
		top: 36px;
		right: 35px;
		width: 320px;
		height: 320px;
		border-top: none;
		border-left: 5px solid rgb(218,218,218);
	}

	#info, #result, #newGame {
		left: 36px;
	}

	#info {
		top: 140px;
	}

	#result {
		top: 304px;
	}

	#newGame {
		top: 65px;
	}

	#board_lines {
		top: 37px;
		right: 37px;
		width: 312px;
		height: 318px;
	}

	.diagonal {
		width: 310px;
		height: 316px;	
	}

	.horizontal {
		width: 310px;
		height: 103px;
	}

	#h_line0 {
		top: -7px;
	}

	#h_line1 {
		top: 101px;
	}

	#h_line2 {
		top: 209px;
	}

	.vertical {
		width: 100px;
		height: 316px;
	}

	#v_line1 {
		left: 106px;
	}

	#v_line2 {
		left: 213px;
	}
}


@media screen and (min-width: 983px) {
	#tic_tac_toe_section {
	margin: 30px 0px 0 auto;
}

	#ttt_info {
		top: 0px;
		left: 0px;
		margin: 0;
	}

	#ttt_fact {
		width: 32%;
		top: 310px;
		left: 50px;
		margin: 0;
	}
}

@media screen and (min-width: 1283px) {
	#tic_tac_toe_section {
		width: 700px;
		height: 500px;
		background-size: 700px 500px;
		margin: 30px 20px 0 auto;
	}

	#ttt_info {
		top: 110px;
		left: 20px;
	}

	#ttt_fact {
		width: 29%;
		top: 420px;
		left: 100px;
	}

	#ttt_board table {
		top: 46px;
		right: 45px;
		width: 408px;
		height: 408px;
	}

	#info, #result, #newGame {
		width: 200px;
		left: 46px;
	}

	#info {
		width: 200px;
		top: 166px;
	}

	#result {
		top: 354px;
	}

	#newGame {
		top: 75px;
	}

	#board_lines {
		top: 47px;
		right: 47px;
		width: 400px;
		height: 405px;
	}

	.diagonal {
		width: 398px;
		height: 403px;	
	}

	.horizontal {
		width: 398px;
		height: 131px;	
	}

	#h_line0 {
		top: -6px;
	}

	#h_line1 {
		top: 131px;
	}

	#h_line2 {
		top: 270px;
	}

	.vertical {
		width: 129px;
		height: 403px;
	}

	#v_line0 {
		left: 1px;
	}

	#v_line1 {
		left: 136px;
	}

	#v_line2 {
		left: 273px;
	}
}

/* End of tic tac toe section */

/* Review Clipboard section */

#review_clipboard {
	position: relative;
	width: 285px;
	min-height: 380px;
	background: url("../img/wood.jpg") top center;
	border-radius: 20px;
	border: 1px solid maroon;
	padding: 10px;
	margin: 50px auto;
}

#review_info {
	margin: 0 auto;
}

#review_fact {
	margin: 0 auto;
}

.reference {
	margin-top: 20px;
}

.reference h1 {
	font-size: 1.1em;
	font-weight: 300;
	margin-bottom: 5px;
}

.reference a{
	margin-left: 20px;
	color: rgb(13,152,186);;
	text-decoration: none;
	padding: 0 10px;
}

.reference a:hover{
	text-decoration: underline;
}

#review_paper {
	min-height: 318px;
	margin-top: 38px;
	background-color: white;
	border: 1px solid gray;
	border-radius: 5px;
	padding: 30px 5px 5px 5px;
}

#review_content {
	margin-top: 30px;
}

#review_clip {
	position: absolute;
	top: 14px;
	left: 70px;
}

#review_top_clip {
	width: 50px;
	height: 25px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	background-color: silver;
	margin: auto;
	border: 1px solid gray;
	border-bottom: none;
}

#review_bottom_clip {
	width: 150px;
	height: 20px;
	margin: 0 auto;
	background-color: silver;
	border-top-left-radius: 35px;
	border-top-right-radius: 35px;
}

.reviewbox {
	display: inline-block;
	width: 50px;
	height: 100%;
}

#reviewbox0, #reviewbox2 {
	border: 1px solid gray;
}


#reviewbox0 {
	border-top-left-radius: 35px;
	border-right: none;	
}

#reviewbox1 {
	border-bottom: 1px solid gray;
}

#reviewbox2 {
	border-top-right-radius: 35px;
	border-left: none;
}

.review_comment {
	position: relative;
	margin-bottom: 30px;
}

.checkmark_box {
	width: 20px;
	height: 20px;
	border: 2px solid black;
}

.checkmark {
	position: absolute;
	top: 0;
	left: 2;
	width: 25px;
	height: 18px;
	background: url("../img/tick.png") center no-repeat;
	background-size: 25px 18px;
}

.comment_box {
	margin-left: 5px;
	border-bottom: 5px dotted black;
	width: 225px;
	height: 28px;
	padding-left: 10px;
	font-size: 1em;
	font-family: cursive;
	font-weight: 600;
	line-height: 1.1;
	color: rgb(13,152,186);
}

.delete {
	position: absolute;
	top: 0;
	right:0;
	width: 22px;
	height: 22px;
	border-radius: 30px;
	background-color: red;
	border: 2px solid white;
	color: white;
	text-align: center;
	cursor: pointer;
}

.delete p {
	font-family: cursive;
	font-weight: bold;
	line-height: 0.8;
}

#submit_review {
	height: 28px;
	position: relative;
}

#review_answer {
	width: 180px;
	height: 100%;
	font-size: 1.2em;
	padding-left: 5px;
}

#send_review {
	position: absolute;
	top:0;
	right: 0;
	width: 65px;
	height: 100%;
	text-align: center;
	text-transform: uppercase;
	background-color: rgba(13,152,186,0.8);
	color: white;
	font-weight: bold;
	border:1px solid green;
	cursor: pointer;
}

@media screen and (min-width: 482px) {
	#review_clipboard {
		width: 400px;
		min-height: 534px;
		padding: 20px;
	}

	#review_paper {
		min-height: 481px;
		margin-top: 48px;
		padding: 30px 10px 10px 10px;
	}

	#review_content {
		margin-top: 40px;
	}

	#review_clip {
		top: 15px;
		left: 80px;
	}

	#review_top_clip {
		width: 80px;
		height: 40px;
		border-top-left-radius: 35px;
		border-top-right-radius: 35px;
	}

	#review_bottom_clip {
		width: 240px;
		height: 28px;
	}

	.reviewbox {
		width: 80px;
	}

	.review_comment {
		margin-bottom: 40px;
	}

	.checkmark_box {
		width: 30px;
		height: 30px;
	}

	.checkmark {
		width: 38px;
		height: 28px;
		background-size: 38px 28px;
	}

	.comment_box {
		margin-left: 15px;
		width: 290px;
		font-size: 1.1em;
		line-height: 0.8;
	}

	#submit_review {
		height: 35px;
	}

	#review_answer {
		width: 265px;
		font-size: 1.4em;
	}

}

@media screen and (min-width: 732px) {
	#review_clipboard {
		width: 500px;
		min-height: 667px;
		padding: 40px;
	}

	#review_info {
		margin: 0 30px 0 auto;
	}

	#review_fact {
		margin: 0 0 0 40px;
	}

	#review_paper {
		min-height: 561px;
		margin-top: 38px;
		padding: 30px;
	}

	#review_clip {
		top: 25px;
		left: 130px;
	}

	.comment_box {
		margin-left: 15px;
		width: 311px;
		font-size: 1.2em;
	}

	#review_answer {
		width: 280px;
	}

	#send_review {
		width: 65px;
	}

}

@media screen and (min-width: 983px) {
	#review_clipboard {
		margin: 0 0 0 10px;
	}

	#review_info {
		top: 10px;
		right: 5px;
		margin: 0;
	}

	#review_fact {
		top: 310px;
		right: 40px;
		margin: 0;
	}
}

@media screen and (min-width: 1283px) {
	#review_clipboard {
		width: 600px;
		min-height: 800px;
		border-radius: 20px;
		padding: 40px;
		margin: 0 0 0 60px;
	}

	#review_info {
		top: 30px;
		right: 50px;
	}

	#review_fact {
		top: 350px;
		right: 100px;
	}

	#review_paper {
		min-height: 694px;
		margin-top: 50px;
	}

	#review_clip {
		top: 25px;
		left: 150px;
	}

	#review_top_clip {
		width: 100px;
		height: 50px;
		border-top-left-radius: 45px;
		border-top-right-radius: 45px;
	}

	#review_bottom_clip {
		width: 300px;
		height: 35px;
		border-top-left-radius: 35px;
		border-top-right-radius: 35px;
	}

	.reviewbox {
		width: 100px;
	}

	#review_content {
		margin-top: 50px;
	}

	.review_comment {
		margin-bottom: 50px;
	}

	.checkmark_box {
		width: 40px;
		height: 40px;
	}

	.checkmark {
		width: 50px;
		height: 37px;
		background-size: 50px 37px;
	}

	.comment_box {
		margin-left: 30px;
		width: 384px;
		height: 35px;
		font-size: 1.4em;
	}

	.delete {
		width: 25px;
		height: 25px;
	}

	.delete p {
		font-size: 1.2em;
	}

	#review_answer {
		width: 365px;
		font-size: 1.4em;
		padding-left: 5px;
	}

	#send_review {
		width: 80px;
	}
}

/* End of review clipboard section */